body{
    background-image: url(background.png);
    width: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
}

nav{
background: black;
border-radius: 5px;
float: right;
}

a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover{
    color: grey;
}

.nav_current{
    color: #990033;
}

li{
    display: inline;
}


 

h3{
    color: #990033;
    text-transform: uppercase;
   }