body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: auto;
    

  
}

img[src$=".png"]{
    float: right;
    height: 30px;
    width: 30px;
    margin-right: 25px;
}

img[src$=".jpg"]{
    height: 250px;
    margin: auto;
}

.artikel{
    display: grid; 
    padding: 10px;
    gap: 10px;
    text-align: center;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(2, 50%);
}

.artikel > div{  
    margin: 10px;
    border: 2px;
    border-style: solid;
    border-color: navy;
    
}

.artikel  p{
    margin: 50px;
}



div  button{
    background-color: grey;
    margin: auto;
    margin-bottom: 25px;
}

div > button:hover{
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 1024px){
    .artikel{
        grid-template-columns: repeat(2, 50%);
    }

}


@media screen and (max-width: 600px){
    .artikel{
        grid-template-columns: repeat(1, 100%);
    }

}




