body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: auto;
    /*background-color: burlywood;*/
    background-image: linear-gradient(beige, brown);

    
}

header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly ;

}

#titlebar {
    order: 1;
  }


  
h1{
    margin-top: 50px;
}

#nav-icon {
    width: 40px;
    margin-top:33px;
    }

img[alt="Warenkorb"]{
    float: right;
    height: 40px;
    margin-right: 25px;
    order: 2;
    margin-top: 50px;
    
}

img[src$=".jpg"]{
    height: 250px;
    margin: auto;
    margin-top: 20px;
}



header{
    margin-bottom: 25px;
}

ul{
    text-align: center;
    list-style-type: none;
    width: auto;
}



.navigation  li a{
    display: block;
    visibility: hidden;

}

.navigation:hover li a {
    visibility: visible;
    transition: visibility;
    transition-delay: 0.4s;
  
}

a:link{
    text-decoration: none;
    color: black;
}

.artikel{
    margin: 25px;
    display: grid; 
    padding: 10px;
    gap: 10px;
    text-align: center;
    grid-template-columns: repeat(3, 33.3%);
    
}

.artikel > div{  
    margin: 10px;
    background-color: white;
    padding: 10px;
    border: 2px;
    border-style: solid ;
    border-color: cornflowerblue;
    border-radius: 5px;
    
}

.artikel + p{
    margin: 50px;
}

div button{
    color: whitesmoke;
    background-color: #2a2a2e;
    margin: auto;
    margin-bottom: 25px;
}

div > button:hover{
    opacity: 0.6;
    cursor: pointer;
    transform: scale(1.1);
}

@media screen and (max-width: 1024px){
    .artikel{
        grid-template-columns: repeat(2, 50%);
    }

    img[src$=".jpg"]{
        height: 200px;
    }

}

@media screen and (max-width: 600px){
    .artikel{
        grid-template-columns: 100%;
    }

    img[src$=".jpg"]{
        height: 150px;
    
    }

}