body{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    text-align: center;
    background: linear-gradient(to right, white,#cbf8f8);
}

#shopbody{
    background: linear-gradient(to bottom right, white, #A5F2F3);
   
}
/*header/navbar Elemente*/

header *{
    text-align: center;
}

img[src$=".svg"]{
    height: 25px;
   
}

ul.topnav {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(to right, white,#cbf8f8);
    background-color: #A9FFFF;
  }
  
  ul.topnav li {
     
      float: left;
}

  ul.topnav li a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
  }

.topnav a:hover {
    background: linear-gradient(#cbf8f8, white);
    cursor: pointer;
}

.navtext:hover{
    padding-bottom: 1.535em;
    cursor: pointer;
}

ul.topnav #vieworders{
    float: right;
}

#selection{
    position: relative;
 
}

/*main elemente*/
h1{
    font-family: 'Permanent Marker', cursive;
    line-height: 0.4;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    letter-spacing: 0.3em;
}
 img[alt="Logo"]{
    height: 60px;

 }
h2{
    font-size: 25px;
}

.sortiment{
    margin: 25px;
    display: grid;
    padding: 10px;
    gap: 10px;
    text-align: center;
    grid-template-columns: repeat(3, 33.3%);
}

.sortiment > div{  
    margin: 10px;
    background-color: white;
    padding: 10px;
    border: 2px;
    border-style: solid ;
    border-color: lightblue;
    border-radius: 5px;
}

.sortiment + p{
    margin: 50px;
}

div button{
    color: white;
    background-color: #6573ff;
    margin: .5em auto 2em;
    padding: .6rem 1rem;
    border-radius: 2rem;
    border-style: none;
}
div > button:hover{
    opacity: 0.75;
    cursor: pointer;
    transform: scale(1.1);
}

img[src$=".jpg"]{
    height: 250px;
    margin: auto;
    margin-top: 20px;
}

.article img[src$=".png"]{
    height: 250px;
    margin: auto;
    margin-top: 20px;
}

.bodynav {
    color: black;
    text-decoration: underline;
  }
/* spezifisch für checkout.html*/
div table{
     margin: auto;
     border-collapse: collapse;
     border: 2px solid rgb(200, 200, 200);
     letter-spacing: 1px;
     font-size: .8rem;
}
td, th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

input{
    margin-bottom: 5px;
    padding: 5px;
}

td  > img:hover{
    opacity: 0.75;
    cursor: pointer;
}

select{
    margin-bottom: 10px;
}
#send{
    color: white;
    background-color: #800020;
    margin: .5em auto 2em;
    padding: .6rem 1rem;
    border-radius: 2rem;
    border-style: none;
}
#send:hover{
    opacity: 0.75;
    cursor: pointer;
}

#meme{
 height: 300px;
}
/*media queries*/

/*tablet*/
@media screen and (max-width: 1024px){
    .sortiment{
        grid-template-columns: repeat(2, 50%);
    }

    img[src$=".jpg"]{
        height: 200px;
    }
    .article img[src$=".png"]{
        height: 200px;
    }
   
}

/*smartphone*/
@media screen and (max-width: 600px){
    .sortiment{
        grid-template-columns: 100%;
    }

    img[src$=".jpg"]{
        height: 150px;
    }

    .article img[src$=".png"]{
        height: 150px;
    }

    ul.topnav li {
        float: none;
    }

    ul.topnav #vieworders{
        float: none;
    }

    h1{
        font-size: 52px;
        letter-spacing: 0em;
    }

    img[alt="Logo"]{
        height: 50px;
     }
    

    h2{
        font-size: 1.35em;
    }
}